body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

.pagewrapper {
    display: flex;
}

.left {
    width: 75px;
    height:1em;
}

.right {
    width: 75px;
    background-color: dimgray;
    
}